* {
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: white;
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    
}

header{
    width: 100%;
    height: 60px;
    background-color: #6FC1C7;
    background: linear-gradient(180deg, #000000c9, #6FC1C7 );
}

main{
    width: 100%;
    height: 579px;
    background-color: #373434;
    display: flex;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
}

nav{
    width: 280px;
    height: 579px;
    background-image:  url(Images/Black\ Widow\ Panel\ 2.jpg) ;
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;

}

.menu{
    width: 280px;
    height: 60px;
    text-align: center;
    padding-top: 20px;
    
}

.menu a{
    font-size: 28px;
    color: white;
    text-decoration: none;
}

.navstomach{
    width: 280px;
    height: 459px;
    text-align: center;
    
}

.navstomach a {
    padding: 10px;
    display: block;
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.navfeet{
    width: 280px;
    height: 60px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    
}

.navfeet a{
    text-decoration: none; 
    color: black;
}

section{
    width: 1115px;
    height: 579px;
    background-image: url(Images/Marvel.jpg);
    background-size: cover;
    background-color: #df1616;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
 
}

 .pickoftheweek{
    width: 900px;
    height: 35px;
    background-color: rgba(165, 158, 158, 0.795);
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center ;   
}

.pickoftheweek h3{
    margin-top: 5px;
    color: rgb(41, 40, 40);
}

.pick{
    width: 900px;
    height: 450px;
    background-color: rgba(165, 158, 158, 0.795);
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    overflow: hidden;
}

.pickimage img{
    width: 300px; 
    height: 400px;
    box-shadow: 6px 4px 8px 6px rgba(22, 22, 22, 0.671); 
    margin-left: 15px;
    object-fit: cover;
    border-radius: 4px;
}

.pickimage:hover img{
transform: scale(1.1);
transition: all 0.5s ease-in-out;
}

.picktext {
    margin-left: 35px;
    margin-top: 35px;
}

.picktext h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.picktext h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(40, 42, 43);
    padding: 3px; 
}

.picktext p {
    font: 1em sans-serif;
    color: black;
}

.pick .pickimage{
    width: 300px;
    height: 400px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    transition: all 0.5s ease-in-out;
    
}

.pickimage2{
    width: 350px;
    height: 400px;
    margin-top: 25px;
    margin-left: 35px; 
    box-shadow: 6px 4px 8px 6px rgba(22, 22, 22, 0.671);     
}

footer{
    width: 100%;
    height: 50px;
    background-color: #6FC1C7;
    text-align: center;
    padding-top: 10px;
    background: linear-gradient(360deg, #000000b9, #6FC1C7 );
}

 .logo{
    padding-left: 10px;
    
}

.feedform{ 
    margin-top: 30px;
    margin-left: 230px;
    width: 400px;
    height: 300px;
    background-color: rgba(58, 219, 58, 0.267) ; 
    box-shadow: 8px 4px 15px 4px rgba(14, 13, 13, 0.527); 
    opacity: 0.8;   
     
    } 

.feedform form{ 
    width: 150px; 
    text-align: center;  
    display: inline-block;
    padding-top: 35px;
    padding-left: 50px;
    
} 

form h1{ 
    padding-left: 20px; 
} 

.user{
    width: 150px;
    height: 35px;
    
}

.textarea{
    width: 280px;
    height: 35px;
    border-radius: 6px;
    padding-top: 15px;
    margin-top: 15px;
    background-color:#d0e8e9 ;
}

form .email{ 
    position: relative; 
    border-radius: 6px;
} 

.button{
    color: rgb(5, 5, 5);
    font-weight: bold;
    background-color:#6FC1C7 ;
    border-radius: 4px;
    font: 1em sans-serif;
    padding: 6px;
}

.pickimage li {
    list-style: none;
    padding: 10px;
    margin-left: 35px;
}

.pickimage li a{
    text-decoration: none;
    color:black;
    transition: all 0.5s ease-in-out;
    display:inline-block;
    text-decoration: none;
    border: 1px solid #6FC1C7;
    border-radius: 15px;
    padding: 6px 7px;
    font-size: 14px;
    background: transparent;
    position: relative;
}

.pickimage li a:hover {
    border: 1px solid #6FC1C7;
    background: #6FC1C7;
    transition: 1s;
}

.pick2{
    width: 900px;
    height: 450px;
    background-color:  rgba(165, 158, 158, 0.795);
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}

.arrownext{
    position: absolute;
    font-size: 50px;
    color: #d0e8e9;
    top: 285px;
    right: 100px;
    opacity: 0.7;
    cursor: pointer;
}

.arrowprev{
    position: absolute;
    font-size: 50px;
    color: #d0e8e9;
    top: 285px;
    right: 930px;
    opacity: 0.7;
    cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev{
    background-color: #d0e8e948;
    padding: 8px;
    border-radius: 40%;
    color: #373434;
}

.overlay{
    position: absolute;
    width: 300px; 
    height: 400px;
    left: 0px;
    top: 100%;
    background-color: #37343475;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d0e8e9;
    margin-left: 15px;
    object-fit: cover;
    border-radius: 4px;
}

.pick:hover .overlay{
    top: 5%;
}

/*Swiper----------------------*/

.swiper {
    width: 900px;
    height: 450px;
    background-color: rgba(165, 158, 158, 0.795);
    position: absolute;
    top: 57%;
    left: 41.4%;
    transform: translate(-50%,-50%);
    display: flex;
    padding-left: 100px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    width: 255px; 
    height: 350px;
    box-shadow: 6px 4px 8px 6px rgba(22, 22, 22, 0.671); 
    margin-left: 3px;
    border-radius: 4px;
  }
