* {
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: #0a0a0a4f;
    background-image: url(Images/Star-Wars-Tutorial.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    
}

.container{
    background-color: #0a0a0a4f;
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

header{
    width: 100%;
    height: 60px;
    display:flex;
}

main{
    width: 100%;
    height: 560px;
    display: block;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
}

.storybtn{
    display:inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid rgba(255, 166, 0, 0.425);
    border-radius: 30px;
    padding: 3px 340px;
    margin-left: 310px;
    font-size: 14px;
    background: transparent;
    position: relative;
}

.storybtn:hover {
    border: 1px solid rgba(255, 166, 0, 0.425);
    background: rgba(255, 166, 0, 0.425);
    transition: 1s;
}

nav{
    width: calc(900px);
    height: inherit;
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 70px;
}

nav a {
    padding: 18px;
    color: rgba(250, 246, 246, 0.966);
    margin-left: 15px;
    text-decoration: none;
    font-weight: 600;
}

.info-panel{
    width: 80%;
    height: 30px;
    background-color: #0a0a0a4f;
    margin-top: 30px;
    padding-left: 85px;
    border-radius: 20px;
    margin-left: 30px;
}

.info-panel h2{
    color: rgba(255, 255, 255, 0.801);
}

section{
    width: 100%;
    height: 560px;
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    display: flex;
}

 .pickoftheweek{
    width: 100%;
    height: 35px;
    position: absolute;
    text-align: center ; 
    background-position: center;
    background-repeat: no-repeat;  
}

.pickoftheweek h3{
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.801);
}

.pick{
    width: 100%;
    height: 450px;
    position: absolute;
    top: 8%;
    display: flex;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
    color: white;
}

.picktext {
    margin-left: 35px;
    margin-top: 35px;
    color: white;
    font-weight: 600;
}

.picktext h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.picktext h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #d0e8e9;
    padding: 3px; 
}

.picktext h3{
    color:#d0e8e9;
}

.picktext p {
    font: 1em sans-serif;
    color: white;
}

footer{
    width: 100%;
    height: 20px;
    text-align: center;
    padding-top: 10px;
    color: #d0e8e9;
}

 .logo{
    padding-left: 10px;
    
}

.feedform{ 
    margin-top: 30px;
    margin-left: 230px;
    width: 400px;
    height: 300px;
    background-color: rgba(58, 219, 58, 0.267) ; 
    box-shadow: 8px 4px 15px 4px rgba(14, 13, 13, 0.527); 
    opacity: 0.8;   
     
    } 

.feedform form{ 
    width: 150px; 
    text-align: center;  
    display: inline-block;
    padding-top: 35px;
    padding-left: 50px; 
} 

form h1{ 
    padding-left: 20px; 
} 

.user{
    width: 150px;
    height: 35px; 
}

.textarea{
    width: 280px;
    height: 35px;
    border-radius: 6px;
    padding-top: 15px;
    margin-top: 15px;
    background-color:#d0e8e9 ;
}

form .email{ 
    position: relative; 
    border-radius: 6px;
} 

.button{
    color: rgb(5, 5, 5);
    font-weight: bold;
    background-color:#6FC1C7 ;
    border-radius: 4px;
    font: 1em sans-serif;
    padding: 6px;
}

.pickcategory{
padding: 50px;
display: flex;
align-items: center;
padding-left: 200px;
}

.pickcategory li {
    list-style: none;
    padding: 10px;
    margin-left: 35px; 
}

.pickcategory li a{
    color: rgba(255, 255, 255, 0.801);
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    display:inline-block;
    text-decoration: none;
    border: 1px solid #6FC1C7;
    border-radius: 15px;
    padding: 6px 7px;
    font-size: 14px;
    background: transparent;
    position: relative;
}

.pickcategory li a:hover {
    border: 1px solid #6FC1C7;
    background: #6FC1C7;
    transition: 1s;
}

.swiper-button-next,
.swiper-button-prev{
    padding: 8px;
    border-radius: 40%;
    color: #373434;
}

/*Swiper----------------------*/

.swiper {
    width: 100%;
    height: 330px;
    display: flex; 
    
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    width: 165px; 
    height: 250px;
    box-shadow: 6px 4px 8px 6px rgba(22, 22, 22, 0.671); 
    border-radius: 4px;
  }

  .swiper-slide:hover img{
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
    }

    strong{
      color: #d0e8e9;
      font-size: 13px;
      font-weight: 400;
  }

  .swiper-slide-text{
    background-color: #37343459;
    width: 200px;
    margin-left: 35px;
    border-radius: 8px;

  }

  .swiper-slide-text h5{
      color: white;
      font-weight: 200;
      
  }

  .swiper-slide-text p{
      color: white;
      font-weight: 300;
      font-size: small;
  }

  /*-------------individual movie page-------------------------------------------*/

  .each-1{
      padding: 90px;
  }

  .movie-title h1{
    color: rgba(255, 255, 255, 0.801);
    font-size: 30px;
  }

  .date-rating-duration{
      display: flex;
      margin-bottom: 10px;
  }

  .rating{
      margin-left: 40px;
  }

  .director-star{
      display: flex;
      margin-bottom: 10px;
  }

  .star{
      margin-left: 40px;
  }

  .genres{
      display: flex;
  }

  .genre h4{
    color: rgba(255, 255, 255, 0.801);
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    display:inline-block;
    text-decoration: none;
    border: 1px solid #6FC1C7;
    border-radius: 15px;
    padding: 6px 7px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-right: 20px;
  }

  .genre h4:hover {
    border: 1px solid #6FC1C7;
    background: #6fc1c77c;
    transition: 1s;
}

.each-2{
    padding: 90px;
}

.description-label{
    color: rgba(255, 255, 255, 0.801);
}

.description-text{
    color: rgba(255, 255, 255, 0.801);
}

/*-------------individual page-------------------------------------------*/
.container-Avengers1{
    background-color: #0a0a0a4f;
    background-image: url(Wallpapers/Avengers1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.container-babysitterkillerqueen{
    background-color: #0a0a0a4f;
    background-image: url(Wallpapers/the-babysitter-killer-queen.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.container-container{
    background-color: #0a0a0ab9;
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}